<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/application.css" />
    <title>Fire Safety Investigation, LLC.</title>
  </head>
  <body>
    <header>
      <h1><a href="#"><img src="../public/images/logo.gif" alt="Fire Safety Investigation" /></a></h1>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>
    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>