<div id="subjects">
  <h1><a href="/">Study Buddy</a></h1>

  <section id="all_subjects" class="all_subjects">
    <div class="subject">
      <h2>Subjects<span><a href="/edit">Edit</a></span></h2>
    </div>

    <ul>
      <% @subjects.each do |list| %>
        <a href="/subject/<%= list[:id] %>">
          <li><%= list[:name] %></li>
        </a>
      <% end %>
    </ul>

    <label for="add">+</label>
    <input type="checkbox" id="add" hidden />

    <div class="subject">
      <form class="add" action="/" method="post">
        <h2>Add Subject</h2>
        <input type="text" name="new_subject" id="new_subject" placeholder="Subject Name" />

        <button type="submit" id="button">Add</button>
      </form>
    </div>
  </section>
</div>