<!doctype html>
<html lang="en">
  <head>
    <title>Study Buddy</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600|Lato:400,700" rel="stylesheet">
  </head>
  <body>
    <header>
      
    </header>

    <main>

      <%= yield %>

    </main>

    <footer>

    </footer>
  </body>
</html>
