@import "whitespace_reset.css";

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  color: #3e606f;
  background-image:  linear-gradient(to bottom, #d2dbbd, #fcfff5);
  background-repeat: no-repeat;
}

header {
  width: 920px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}

h1 {
  float: left;
  padding: 45px 0 15px 115px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background: transparent url("logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  padding: 75px 0 0 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px 40px;
  color: #91aa9d;
  background: #fcfff5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

nav a.active {
  background: #91aa9d;
  color: #fcfff5;
}

main {
  box-sizing: border-box;
  clear: both;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 5px #c6c6c4;
}

.hero {
  display: block;
  margin: 0 0 40px 0;
  width: 100%
}

main h2 {
  font-size: 32px;
  padding: 0 0 25px 0;
}

main p {
  margin: 0 0 20px 0;
}

main figure {
  float: right;
  padding: 0 0 20px 30px;
}

footer {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 14px;
}