@import "whitespace_reset.css";

body {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #45494d;
}

a {
  text-decoration: none;
}

main, footer {
  overflow: hidden;
  max-width: 1000px;
  padding: 80px 0 90px 0;
  margin: 0 auto;
}

p {
  line-height: 150%;
}

body > header {
  padding: 130px 0 50px 0;
  background: #3d3d3d;
}

body > header h1 {
  font-size: 68px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  margin: 0 0 125px 0;
  padding: 0 0 120px 0;
  background: transparent url("images/logo.png") 50% 100% no-repeat;
}

body > header a {
  color: #ffffff;
}

body > header nav ul {
  text-align: center;
}

body > header nav ul li {
  display: inline-block;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 20px;
}

body > header nav a.active {
  color: #50c3af;
}

section.content {
  float: left;
  overflow: hidden;
  width: 65%;
  padding: 0 11.5% 0 0;
}

section article {
  padding-bottom: 65px;
}

section article header > h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

article header > h2 a {
  color: inherit;
}

section article header > p {
  padding-bottom: 15px;
}

section article header > p a {
  color: #8cd4c6;
}

.sidebar {
  overflow: hidden;
  padding: 35px;
  background: #f6f7f8;
}

.sidebar h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}

.sidebar p, .sidebar ul {
  font-size: 14px;
  color: #787b90;
}

.sidebar ul {
  padding: 0 0 105px 20px;
}

.sidebar ul li {
  padding-bottom: 5px;
  list-style: url("images/list_icon.png");
}

.sidebar a {
  color: inherit;
}

.pagination .button {
  padding: 5px 25px;
  font-size: 14px;
  background: #d2d5da;
  border-radius: 20px;
  display: inline-block;
  color: #f5f5f5;
  vertical-align: center;
}

.pagination .next {
  margin-left: 25px;
  background: #50c3af;
}

.pagination .comment {
  background: #50c3af;
}

footer {
  padding: 20px 0 40px 0;
  font-size: 12px;
  color: #b8babd;
  border-top: 1px solid #b8babd;
}

/* post.html */

section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comments article {
  padding-bottom: 30px;
}

.comments article p {
  padding-bottom: 15px;
}

.comments h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}

.comments h3 a {
  color: #50c3af;
}

#toggle_form {
  display: none;
}

#toggle_form:checked + form {
  left: 0;
  height: auto;
}

form {
  position: relative;
  left: -100%;
  height: 0;
  padding: 25px 0 0 0;
  transition: left 200ms linear;
}
/* Pseudo Elements */

article h2 a:hover {
  color: #ffffff;
  background: #50c3af;
}

.sidebar a:hover {
  color: #50c3af;
}

