<!doctype html>
<html lang="en-US">
  <head>
    <title>Space Design | Team</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="hero">
      <h1 class="hero"><img src="../images/logo.png" alt="Space Design" /></h1>
      <nav class="hero">
        <ul>
          <li class="home"><a href="home.html">Home</a></li>
          <li class="projects"><a href="projects.html">Projects</a></li>
          <li class="team focus"><a href="team.html">Team</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="column">
        <article>
          <h2>Team</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniadolor</p>

            <ul id="team">
              <li>
                <a href="#">
                  <figure>
                    <img src="../images/img_kevin.jpg" alt="Kevin" />
                    <figcaption>Kevin</figcaption>
                  </figure>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure>
                    <img src="../images/img_louis.jpg" alt="Louis" />
                    <figcaption>Louis</figcaption>
                  </figure>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure>
                    <img src="../images/img_kasper.jpg" alt="Kasper" />
                    <figcaption>Kasper</figcaption>
                  </figure>
                </a>
              </li>
              <li class="none">
                <a href="#">
                  <figure>
                    <img src="../images/img_chris.jpg" alt="Chris" />
                    <figcaption>Chris</figcaption>
                  </figure>
                </a>
              </li>
            </ul>
        </article>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>Lorem ipsum dolor sit amet, consectetu<br>incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        <ul class="social">
          <li><a class="twitter" href="">Twitter</a></li>
          <li><a class="facebook" href="">Facebook</a></li>
          <li><a class="email" href="">Email</a></li>
          <li><a class="instagram" href="">Instagram</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html> 