<!doctype html>
<html>

  <head>
    <title>Welcome to the homepage of users</title>
  </head>

  <body>
    <div>
      <h1>Select a User's Page to Visit</h1>

      <ul>
        <% @contents.each do |user| %>
        <li>
          <a href='#'><%= user %></a>
        <% end %>
        </li>

      </ul>

    </div>

  </body>
</html>
