@import "whitespace_reset.css";

body {
  background: #ffd505;
  font: normal 16px Helvetica, Arial, sans-serif;
}

header {
  background: #047ec1;
  width: 900px;
  margin: 0 auto 30px auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  padding: 30px 0 30px 25px;
  color: #ffffff;
}

main {
  width: 850px;
  margin: 0 auto;
  padding: 25px;
  background: #ececec;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

.main h1 {
  color: #000000;
  font-size: 32px;
  padding: 0;
}

div.products {
  padding: 25px 0 40px 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

li {
  float: left;
  width: 23.5%;
  padding: 15px;
  margin: 0 0 2% 2%;
  background: #ffffff;
  box-sizing: border-box;
}

li:nth-of-type(4n+1) {
  margin-left: 0;
}

img {
  display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;
}

figcaption {
  padding-top: 20px;
  line-height: 1.5em;
}

dt {
  font-size: 20px;
  font-weight: bold;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input:checked + figure:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, .4);
}

input:checked + figure img {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;
  width: 400px;
  height: auto;
  margin: 0 0 0 -200px;
}
