<!doctype html>
<html lang="en-US">
  <head>
    <title>Expense App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1>Expense Tracker</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
