<!doctype html>
<html>
<head>
<style type="text/css">
      .footer{
        position: fixed;
        text-align: center;
        bottom: 0px;
        width: 100%;
      }
      </style>
</head>

<body>
  <%= yield %>

  <div class='footer'>There are <strong><%= @users.size %></strong> users with <strong><%= count_interests(@users) %></strong> total interests</div>
</body>

</html>