<!-- Hero -->

<section class="hero homepage">

  <header>

    <h2>PairUP. Compete. Review. Learn.</h2>
    <p>Join like minded programmers to improve your skills and communication.</p>

    <form action="" method="post" class="register">
      <fieldset>
        <ul>
          <li><input type="text" name="name" id="name" placeholder="First and Last Name" required /></li>
          <li><input type="email" name="email" id="email" placeholder="Email" required /></li>
          <li><input type="password" name="password" id="password" placeholder="Password" required /></li>
          <li><button class="signup" type="submit">Sign Up & Start Coding</button></li>
        </ul>
      </fieldset>
    </form>

  </header>

</section>

<!-- Body -->

<section class="body">
  <h2>Teams</h2>
  <p>Teams are made up of 2-4 programmers with similar experience levels</p>
</section>

<section class="body">
  <h2>Challenges</h2>
  <p>Challenges are language specific and vary in complexity based on your experience</p>
</section>

<section class="body">
  <h2>Scoring</h2>
  <p>Reviews are done via peer reviews; the team with the highest ranked review wins</p>
</section>
