<!doctype html>
<html lang="en-US">
  <head>
    <title>Pair Up</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
    <link href="../public/stylesheets/application.css" rel="stylesheet">
  </head>
  <body>

    <!-- Header -->

    <header class="nav">

      <h1 class="logo" id="nav">
        <a href="index.html">PairUP</a>
      </h1>

      <nav>
        <ul>
          <li><a href="signup.html" class="signup" id="nav">Sign Up</a></li>
          <li><a href="login.html" id="nav">Log In</a></li>
        </ul>
      </nav>

    </header>

    <!-- Main Content -->

    <main>

      <!-- Hero -->

      <section class="hero homepage">

        <header>

          <h2>PairUP. Compete. Review. Learn.</h2>
          <p>Join like minded programmers to improve your skills and communication.</p>

          <form action="" method="post" class="register">
            <fieldset>
              <ul>
                <li><input type="text" name="name" id="name" placeholder="First and Last Name" /></li>
                <li><input type="email" name="email" id="email" placeholder="Email" /></li>
                <li><input type="password" name="password" id="password" placeholder="Password" /></li>
                <li><button class="signup" type="submit">Sign Up & Start Coding</button></li>
              </ul>
            </fieldset>
          </form>

        </header>

      </section>

      <!-- Body -->

      <section class="body">
        <h2>Teams</h2>
        <p>Team sizes are 2-4 programmers with similar experience</p>
      </section>

      <section class="body">
        <h2>Challenges</h2>
        <p>Challenges are language specific and vary in complexity based on your experience</p>
      </section>

      <section class="body">
        <h2>Scoring</h2>
        <p>Reviews are done via peer reviews; the team with the highest ranked review wins</p>
      </section>

    </main>

    <!-- Footer -->

    <footer>

    </footer>

  </body>
</html> 