<!doctype html>
<html lang="en-US">
  <head>
    <title>Pair Up</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>

    <!-- Header -->

    <header class="nav">

      <h1 class="logo" id="nav">
        <a href="home">PairUP</a>
      </h1>

      <nav>
        <ul>
          <li><a href="/signup" class="signup" id="nav">Sign Up</a></li>
          <li><a href="/login" id="nav">Log In</a></li>
        </ul>
      </nav>

    </header>

    <!-- Main Content -->

    <main>

      <%= yield %>

    </main>

    <!-- Footer -->

    <footer>

    </footer>

  </body>
</html> 