<section class="hero">

    <div class="signup">

      <ul class="login-tab cf">
        <li class="signup-toggle toggle"><a href="signup" class="signup">Sign Up</a></li>
        <li class="login-toggle toggle active"><a href="login" class="login">Log In</a></li>
      </ul>

      <form action="" method="post" class="register">
        <fieldset>
          <ul>
            <li><input type="email" name="email" id="email" placeholder="Email" required /></li>
            <li><input type="password" name="password" id="password" placeholder="Password" required /></li>
            <li><button class="signup" type="submit">Log In</button></li>
          </ul>
        </fieldset>
      </form>
    </div>

</section>
