<!doctype html>
<html lang="en-US">
  <head>
    <title>Real Estate App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1>Real Estate App</h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
